/* Partie qui englobe tout */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}
body{
    background-image: url(Image_Selmen/fond.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1580px;
}

/* Partie navbar */
header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
header .nav-title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
}

/* Menu Hamburger */
.burger-icon img {
    display: flex;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 30px;
}
.nav-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
    transition: left 0.5s ease;
}
.nav-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
}
.nav-menu img {
    height: 15px;
    width: 15px;
    margin: 20px;
}
.nav-menu a:hover {
    color: #e70e0e;
}
.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-menu.active {
    left: 0;
}
.nav-menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Partie du main */
main h2{
    color: white;
    margin-top: 60px;
    font-size: 50px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}
main h3{
    color: white;
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
main p {
    color: white;
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}
main img{
    margin-left: 50%;
    transform: translate(-50%);
}
main h4{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}
main .noir{
    color: black;
    font-size: 20px;
    background-color: #fff;
    width: 150px;
    display: flex;
    justify-content: center;
}
main .blanc{
    color: white;
    font-size: 20px;
    background-color: black;
    width: 150px;
    display: flex;
    justify-content: center;
}
main .rouge{
    color: #e70e0e;
    font-size: 20px;
    background-color: white;
    width: 150px;
    display: flex;
    justify-content: center;
}
main .typo{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
