/* Partie qui englobe tout */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}
body{
    background-image: url(Image_Iban/fond.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

/* Partie de la navbar */
header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
header .nav-title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
}
.burger-icon img {
    display: flex;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 30px;
}
.nav-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
    transition: left 0.5s ease;
}
.nav-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
}
.nav-menu img {
    height: 15px;
    width: 15px;
    margin: 20px;
}
.nav-menu a:hover {
    color: #e70e0e;
}
.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-menu.active {
    left: 0;
}
.nav-menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Partie de l'API */
#movies{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie_item{
    margin: 1rem;
    text-align: center;
    color: white;
    font-size: 19px;
}
.film_img{
    border-radius: 20px;
    height: 250px;
    width: 180px;
    cursor: pointer;
}
.film_text{
    width: 180px;
    text-overflow: ellipsis;
    letter-spacing: 1.5px;
}

/* Partie du footer */
footer .footer-container .footer-reseaux .title{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 200px;
    letter-spacing: 2px;
}
footer .footer-container .footer-reseaux .reseaux-img{
    display: flex;
    justify-content: center;
}
footer img{
    height: 25px;
    width: 25px;
    margin: 30px 20px;
}
footer .footer-container .footer-cg{
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}



/* Partie Responsive */

/* En dessous de 600px de largeur alors ... */
@media screen and (max-width: 600px) {

    footer .footer-container .footer-cg{
        font-size: 20px;
        margin: 25px 20px;
    }
}